.swiper {
  width: 100%;
  padding: 10px !important;
  margin: -10px;
}

.swiper-button-next,
.swiper-button-prev {
  width: 40px !important;
  height: 40px !important;
  background: white;
  border-radius: 50%;
  color: #333 !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 0.3s, background 0.3s;
}

.swiper:hover .swiper-button-next:not(.swiper-button-disabled),
.swiper:hover .swiper-button-prev:not(.swiper-button-disabled) {
  opacity: 1;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 1.2rem !important;
  font-weight: bold;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0 !important;
}

.swiper-button-next:not(.swiper-button-disabled):hover,
.swiper-button-prev:not(.swiper-button-disabled):hover {
  background: #f8f8f8;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 992px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}

@keyframes custom-ping {
  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.ping .animate-ping {
  animation: custom-ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}
